// Setting default properties

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 1cm;
}

body {
	background: rgb(204, 204, 204);
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: #f0e6d2;
	position: relative;
}

page {
	display: block;
	margin: 0 auto;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;

	&[size="A2"] {
		width: 42cm;
		height: 59.4cm;

		// &[layout="landscape"] {
		// 	width: 59.4cm;
		// 	height: 42cm;
		// }
	}

	// Setting background color with linear-gradient for pages
	&.page-1 {
		background-color: #1c92d2;
	}

	&.page-2 {
		background-color: #1c92d2;
	}

	&.page-3 {
		background-color: #1c92d2;
	}

	&.page-4 {
	}
}
