.topic {
	height: 5%;
	text-align: center;
	background-color: $primary-dark;
	font-size: 0.9cm;
	word-spacing: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

[class^="strategy__"] {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 17%;
	border-top: 35px solid $primary-light;

	.main {
		font-size: 0.8cm;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		background-color: $primary-light;
		padding: 1cm;
	}

	.secondary {
		padding: 1cm;
		display: flex;
		align-items: center;
		background-color: $primary-dark;
		font-weight: 500;
	}

	&:nth-child(even) {
		.main {
			grid-column: 1/4;
			text-align: left;
		}

		.secondary {
			grid-column: 4/13;
			box-shadow: -0.2cm -0.5cm 1cm rgba($color: #000000, $alpha: 1);
			margin-right: 0.5cm;
		}
	}

	&:nth-child(odd) {
		position: relative;
		.main {
			grid-column: 10/13;
			text-align: right;
			position: absolute;
			z-index: 5;
		}
		.secondary {
			grid-column: 1/10;
			margin-right: 0.5cm;
			box-shadow: 0.2cm -0.5cm 1cm rgba($color: #000000, $alpha: 1);
			z-index: 10;

			margin-left: 0.5cm;
		}
	}
}

.myTable {
	padding: 0.5cm;
	margin-top: 0.05cm;
}

.divTable.blueTable {
	width: 100%;
	height: 50%;
	border-collapse: collapse;

	.divTableCell {
		font-size: 1cm;
		font-weight: 500;
		padding: 1cm 1.5cm;
	}

	.divTableRow:nth-child(even) {
		background: $primary-dark;
	}

	.divTableHeading {
		background: $primary-dark;
		border-bottom: 0.3cm solid #f0e6d2;
	}

	.divTableHead {
		font-size: 1.5cm;
		font-weight: bolder;
		padding: 1cm 1.5cm;

		&:first-child {
			border-left: none;
		}
	}
}

/* DivTable.com */
.divTable {
	display: table;
}
.divTableHead {
	display: table-cell;
}

.divTableBody {
	display: table-row-group;
}

.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell {
	display: table-cell;
	&:not(:first-child) {
		// border-left: 0.2cm solid;
	}
}

.wrap {
	display: inline-flex;
	align-items: center;

	.icon-do {
		padding-right: 3cm;
		color: $primary-light;
		font-size: 3cm;
		filter: drop-shadow(-0.3cm -0.6cm 0.1cm rgba($color: #000000, $alpha: 1));
		transform: translateX(1.5cm);
		// &::after {
		// 	content: "";
		// 	height: 10%;
		// 	width: 685%;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	display: inline-block;
		// 	background-color: #f0e6d2;
		// 	transform: translate(-3cm, 4cm);
		// 	filter: drop-shadow(0 0 0 rgba($color: #000000, $alpha: 0));
		// }
	}

	.icon-dont {
		padding-right: 3cm;
		color: $primary-light;
		font-size: 3cm;
		filter: drop-shadow(-0.3cm -0.6cm 0.1cm rgba($color: #000000, $alpha: 1));
		transform: translateX(1.5cm);

		&::after {
			content: "";
			height: 810%;
			width: 5%;
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			background-color: #f0e6d2;
			transform: translate(-4cm);
			// filter: drop-shadow(-0.3cm -0.5cm 0.1cm rgba($color: #000000, $alpha: 1));
		}
	}
}
