.topic {
	height: 5%;
	text-align: center;
	background-color: #33325b;
	font-size: 0.9cm;
	word-spacing: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

[class^="strategy__"] {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 17%;
	border-bottom: 10px solid #74cec3;

	.main {
		font-size: 0.8cm;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		background-color: #74cec3;
		color: #f4f1e5;
		padding: 1cm;
	}

	.secondary {
		padding: 1cm;
		display: flex;
		align-items: center;
		background-color: #f4f1e5;
		color: #2b2a55;
		font-weight: 600;
	}

	&:nth-child(even) {
		.main {
			grid-column: 1/4;
			text-align: left;
		}

		.secondary {
			grid-column: 4/13;
		}
	}

	&:nth-child(odd) {
		.main {
			grid-column: 10/13;
			text-align: right;
		}
		.secondary {
			grid-column: 1/10;
		}
	}
}

.myTable {
	padding: 0.5cm;
	margin-top: 0.05cm;
}

.divTable.blueTable {
	color: #15171b;
	width: 100%;
	height: 50%;
	border-collapse: collapse;

	.divTableCell {
		font-size: 1cm;
		font-weight: 700;
		padding: 1cm 1.5cm;
	}

	.divTableRow:nth-child(even) {
		background: #ede2d0;
	}

	.divTableHeading {
		background: #ede2d0;
		border-bottom: 0.3cm solid #f47738;
	}

	.divTableHead {
		font-size: 1.5cm;
		font-weight: bolder;
		color: #15171b;
		padding: 1cm 1.5cm;

		&:first-child {
			border-left: none;
		}
	}
}

/* DivTable.com */
.divTable {
	display: table;
}
.divTableHead {
	display: table-cell;
}

.divTableBody {
	display: table-row-group;
}

.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell {
	display: table-cell;
	&:not(:first-child) {
		border-left: 0.2cm solid #f47738;
	}
}

.wrap {
	display: inline-flex;
	align-items: center;

	.icon-do {
		padding-right: 3cm;
		color: #74cec3;
		font-size: 3cm;
	}

	.icon-dont {
		padding-right: 3cm;
		color: red;
		font-size: 3cm;
	}
}
