.stages {
	height: 100%;

	&__topic {
		height: 5%;
		text-align: center;
		font-size: 1.5cm;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	// &__content:nth-child(even) {
	// 	box-shadow: 0.2cm 0.5cm 1cm rgba($color: #000000, $alpha: 1);
	// 	transform: translate(-0.4cm, -0.5cm);
	// }

	// &__content:nth-child(odd) {
	// 	box-shadow: -0.2cm 0.5cm 1cm rgba($color: #000000, $alpha: 1);
	// 	transform: translate(0.4cm, -0.5cm);
	// }

	&__content {
		height: 14%;
		padding: 1cm;
		position: relative;

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		justify-content: center;
		align-items: center;

		background-color: $primary-dark;
		border-radius: 20px;
		margin: 1cm 1cm;

		&-right {
			grid-column: 3/13;
			padding-left: 3cm;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&-left {
			grid-column: 1/11;
			padding-right: 1cm;
			padding-left: 3cm;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		[class^="circleText"] {
			@include circle;
		}

		.circleText:nth-child(even) {
			grid-column: 11/12;
			box-shadow: -0.5cm -0.5cm 1cm rgba($color: #000000, $alpha: 1);
		}

		.circleText:nth-child(odd) {
			grid-column: 2/3;
			box-shadow: 0.5cm -0.5cm 1cm rgba($color: #000000, $alpha: 1);
		}
	}
}
