.composition {
	position: relative;
	margin: 1cm;

	&__photo {
		width: 50%;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
		border-radius: 2px;
		position: absolute;
		transition: all 0.2s;
		z-index: 10;
	}

	&__photo--p1 {
		left: 1rem;
		top: -7rem;
	}

	&__photo--p2 {
		right: 1rem;
		top: -3rem;
	}

	&__photo--p3 {
		left: 20%;
		top: 5rem;
	}
}

.topic {
	height: 10%;
	text-align: center;
	background-color: #33325b;
	font-size: 2.3cm;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.strategy__left {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 30%;
	border-bottom: 1px solid #74cec3;

	&-main {
		grid-column: 1/4;

		text-align: left;
		height: 100%;
		font-size: 1.2cm;
		align-items: center;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		background-color: #74cec3;
		color: #f4f1e5;
		padding: 1cm;
	}

	&-secondary {
		grid-column: 4/13;

		width: 100%;
		height: 100%;
		padding: 2cm;
		display: flex;
		align-items: center;
		background-color: #f4f1e5;
		color: #2b2a55;
		font-weight: 600;
	}
}

.strategy__right {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 30%;
	border-bottom: 1px solid #74cec3;

	&-main {
		grid-column: 10/13;
		text-align: right;
		height: 100%;
		font-size: 1.2cm;
		align-items: center;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		background-color: #74cec3;
		color: #f4f1e5;
		padding: 1cm;
	}

	&-secondary {
		grid-column: 1/10;

		width: 100%;
		height: 100%;
		padding: 2cm;
		display: flex;
		align-items: center;
		background-color: #f4f1e5;
		color: #2b2a55;
		font-weight: 600;
	}
}
