.do__header {
	display: block;
	width: 100%;
	height: 20%;
	background-image: linear-gradient(120deg, rgba(#74cec3, 1), rgba(#74cec3, 1));
	clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 0);

	&-text {
		font-size: 4cm;
		transform: rotate(35.5deg) translateY(-6.3cm) translateX(-3cm);
		font-family: "Rye", cursive;
		text-align: right;
	}
}

.another-line {
	max-width: 100%;
	// margin: 0 auto;
	display: inline-flex;
	justify-content: flex-end;
	background-color: rgba(197, 191, 191, 0.5);
	border-radius: 100px;
	box-shadow: 0 0.5cm 1cm rgba(0, 0, 0, 0.2);
	margin: 1cm;
	padding-left: 1cm;
	// margin-left: 5cm;
	// margin: 2cm;

	&__left {
		margin-left: 5cm;
	}

	&__right {
		margin-right: 5cm;
	}

	&__circle {
		display: inline-block;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		background-color: yellow;
		text-align: center;
		font-size: 2.5cm;
		padding: 3px;

		background-image: linear-gradient(to right, #74cec3, #74cec3);
		-webkit-background-clip: text; // clip the background image color to the text
		color: transparent;
	}

	&__text {
		display: flex;
		align-items: center;
		padding-right: 4cm;
		font-size: 1.5cm;
	}
}
