.stages {
	height: 100%;

	&__topic {
		height: 7%;
		text-align: center;
		font-size: 1.5cm;
		font-family: "Rye", cursive;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	// &__content:nth-child(even) {
	// 	box-shadow: 0.2cm 0.5cm 1cm rgba($color: #000000, $alpha: 1);
	// 	transform: translate(-0.4cm, -0.5cm);
	// }

	// &__content:nth-child(odd) {
	// 	box-shadow: -0.2cm 0.5cm 1cm rgba($color: #000000, $alpha: 1);
	// 	transform: translate(0.4cm, -0.5cm);
	// }

	&__content {
		height: 14.5%;
		padding: 1cm;
		position: relative;

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		justify-content: center;
		align-items: center;

		background-color: $primary-dark;
		border-radius: 20px;
		margin: 0.5cm 1cm;

		h2 {
			margin-bottom: 0.5cm;
			font-family: "Rye", cursive;
		}
		&-right {
			grid-column: 3/13;
			padding-left: 1.5cm;

			display: flex;

			flex-direction: column;
			text-align: left;
		}

		&-left {
			grid-column: 1/11;
			padding-right: 1.5cm;

			display: flex;
			flex-direction: column;
			text-align: right;
		}

		[class^="circleText"] {
			@include circle;
		}

		.circleText:nth-child(even) {
			grid-column: 11/12;
			// box-shadow: -0.5cm -0.5cm 1cm rgba($color: #000000, $alpha: 1);
			// box-shadow: -0.7cm -0.7cm 0.5cm rgba($color: #000000, $alpha: 1);
			transform: translateX(2cm) scale(1.2);
		}

		.circleText:nth-child(odd) {
			grid-column: 2/3;
			// box-shadow: 0.5cm -0.5cm 1cm rgba($color: #000000, $alpha: 1);
			// box-shadow: -0.7cm -0.7cm 0.5cm rgba($color: #000000, $alpha: 1);
			transform: translateX(-2cm) scale(1.2);
		}
	}
}
