@import "abstract";
@import "basic";

@import "page-1";
@import "page-2";
@import "page-3";
@import "page-4";

@media print {
	body,
	page {
		margin: 0 auto;
		box-shadow: 0;
		-webkit-print-color-adjust: exact;
	}
}
