/*

1. Variables
2. mixins
*/
/*----------------------------------------------------------------------------------
1. Variables
-----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
2. mixins
-----------------------------------------------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1cm;
}

body {
  background: #cccccc;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
  position: relative;
}

page {
  background: #f8bc6e;
  display: block;
  /* padding: 0; */
  margin: 0 auto;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
page[size=A2] {
  width: 42cm;
  height: 59.4cm;
}
page[size=A2][layout=landscape] {
  width: 59.4cm;
  height: 42cm;
}
page.page-1 {
  background-image: linear-gradient(to right bottom, rgba(52, 138, 199, 0.7), rgba(116, 116, 191, 0.7));
}
page.page-2 {
  background-color: #1c92d2;
}
page.page-3 {
  background-color: white;
}
page.page-5 {
  padding: 1cm;
  background-color: white;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 0.25rem;
}
.row .col-1-of-2,
.row .col-2-of-4 {
  width: calc((100% - 0.25rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 0.25rem) / 3);
}
.row .col-2-of-3 {
  width: calc(100% - calc((100% - 2 * 0.25rem) / 3) - 0.25rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 0.25rem) / 4);
}
.row .col-3-of-4 {
  width: calc(100% - calc((100% - 3 * 0.25rem) / 4) - 0.25rem);
}

.box__parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 30%;
  justify-content: center;
  align-items: center;
}

.box__child--image {
  height: 100%;
  border-radius: 15px;
  grid-column: 1/4;
}
.box__child--textBox {
  padding-left: 0.5cm;
  text-align: left;
  grid-column: 4/13;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0.75cm;
  text-align: center;
  background-color: rgba(197, 191, 191, 0.5);
  border-radius: 20px;
  box-shadow: 0 0.5cm 1cm rgba(0, 0, 0, 0.2);
}

.space-20 {
  margin-top: 20cm;
}

.header__main {
  padding-top: 4cm;
  height: 65%;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, rgba(26, 45, 52, 0.7), rgba(26, 45, 52, 0.7)), url(./img/handshake.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__main .heading__text {
  font-size: 4cm;
  letter-spacing: 10px;
  line-height: 6cm;
  text-shadow: 0 1cm 1cm #000;
}
.header__main .heading__text span {
  color: orange;
  font-family: "Rye", cursive;
}
.header__main .shape__wrap {
  filter: drop-shadow(0 1cm 1cm #000);
}
.header__main .shape__wrap .shape {
  margin-top: 5cm;
  width: 5cm;
  height: 5cm;
  background-color: orange;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 0 0);
}

.textBox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 25%;
  color: #1e343c;
}
.textBox span {
  padding: 25px;
  font-size: 2cm;
  grid-row: 1/2;
  font-weight: 700;
  text-decoration-line: underline;
}
.textBox p {
  grid-row: 2/4;
  justify-content: center;
  padding: 0 2cm;
}
.textBox__ {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.textBox__1 {
  grid-column: 1/5;
  background-color: #37948a;
}
.textBox__1 p {
  font-size: 1.1cm;
}
.textBox__2 {
  grid-column: 5/9;
  background-color: #f7d677;
}
.textBox__3 {
  grid-column: 9/13;
  background-color: #f6a564;
}
.textBox__3 p {
  font-size: 1.1cm;
}

.explaination {
  height: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 1.3cm;
  background-color: #d36448;
}

.stages {
  height: 100%;
}
.stages__topic {
  height: 7%;
  text-align: center;
  font-size: 1.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stages__content {
  height: 14.5%;
  padding: 1cm;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #33325b9d;
  border-radius: 20px;
  box-shadow: 0 1cm 2cm rgba(0, 0, 0, 0.2);
  margin: 0.5cm 0.75cm;
}
.stages__content-right {
  grid-column: 3/13;
  padding-left: 3cm;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.stages__content-left {
  grid-column: 1/11;
  padding-right: 1cm;
  padding-left: 3cm;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.stages__content [class^=circleText] {
  background-color: #1c92d2;
  height: 5cm;
  width: 5cm;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: 3cm;
}
.stages__content .circleText:nth-child(even) {
  grid-column: 11/12;
}
.stages__content .circleText:nth-child(odd) {
  grid-column: 2/3;
}

.topic {
  height: 5%;
  text-align: center;
  background-color: #33325b;
  font-size: 0.9cm;
  word-spacing: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class^=strategy__] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 17%;
  border-bottom: 10px solid #74cec3;
}
[class^=strategy__] .main {
  font-size: 0.8cm;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background-color: #74cec3;
  color: #f4f1e5;
  padding: 1cm;
}
[class^=strategy__] .secondary {
  padding: 1cm;
  display: flex;
  align-items: center;
  background-color: #f4f1e5;
  color: #2b2a55;
  font-weight: 600;
}
[class^=strategy__]:nth-child(even) .main {
  grid-column: 1/4;
  text-align: left;
}
[class^=strategy__]:nth-child(even) .secondary {
  grid-column: 4/13;
}
[class^=strategy__]:nth-child(odd) .main {
  grid-column: 10/13;
  text-align: right;
}
[class^=strategy__]:nth-child(odd) .secondary {
  grid-column: 1/10;
}

.myTable {
  padding: 0.5cm;
  margin-top: 0.05cm;
}

.divTable.blueTable {
  color: #15171b;
  width: 100%;
  height: 50%;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell {
  font-size: 1cm;
  font-weight: 700;
  padding: 1cm 1.5cm;
}
.divTable.blueTable .divTableRow:nth-child(even) {
  background: #ede2d0;
}
.divTable.blueTable .divTableHeading {
  background: #ede2d0;
  border-bottom: 0.3cm solid #f47738;
}
.divTable.blueTable .divTableHead {
  font-size: 1.5cm;
  font-weight: bolder;
  color: #15171b;
  padding: 1cm 1.5cm;
}
.divTable.blueTable .divTableHead:first-child {
  border-left: none;
}

/* DivTable.com */
.divTable {
  display: table;
}

.divTableHead {
  display: table-cell;
}

.divTableBody {
  display: table-row-group;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  display: table-header-group;
}

.divTableCell {
  display: table-cell;
}
.divTableCell:not(:first-child) {
  border-left: 0.2cm solid #f47738;
}

.wrap {
  display: inline-flex;
  align-items: center;
}
.wrap .icon-do {
  padding-right: 3cm;
  color: #74cec3;
  font-size: 3cm;
}
.wrap .icon-dont {
  padding-right: 3cm;
  color: red;
  font-size: 3cm;
}

@media print {
  body,
page {
    margin: 0.78cm auto;
    box-shadow: 0;
  }
}

/*# sourceMappingURL=style.css.map */
